<mat-card class="video-upload-card">
  <mat-card-title>Project Video</mat-card-title>

  <!-- Video Preview -->
   @if(videoUrl){
       <div  class="video-preview">
         <video [src]="videoUrl" controls></video>
     
         <div class="video-actions">
           <button mat-stroked-button color="warn" (click)="removeVideo()">
             <mat-icon>delete</mat-icon>
             Remove Video
           </button>
         </div>
       </div>
   }@else{
       <!-- Upload Input -->
       <div  class="video-upload-input">
         <label for="video-upload" class="upload-label">
           <mat-icon>cloud_upload</mat-icon>
           Click to upload video
         </label>
         <input
           id="video-upload"
           type="file"
           accept="video/*"
           (change)="onFileSelected($event)"
           hidden
         />
       </div>

   }

</mat-card>
