<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav
    #drawer
    class="sidenav"
    [mode]="opened ? 'side' : 'over'"
    [opened]="opened"
  >
    <div class="sidebar-header">
      <h2>Mirror Admin</h2>
    </div>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/dashboard/projects"
        routerLinkActive="active"
      >
        <mat-icon>work</mat-icon>
        <span>Projects</span>
      </a>
      <a
        mat-list-item
        routerLink="/dashboard/categories"
        routerLinkActive="active"
      >
        <mat-icon>category</mat-icon>
        <span>Categories</span>
      </a>
      <a mat-list-item routerLink="/dashboard/admins" routerLinkActive="active">
        <mat-icon>supervisor_account</mat-icon>
        <span>Admins</span>
      </a>
      <a
        mat-list-item
        routerLink="/dashboard/messages"
        routerLinkActive="active"
      >
        <mat-icon>mail</mat-icon>
        <span>Messages</span>
      </a>
      <a mat-list-item routerLink="/dashboard/team" routerLinkActive="active">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Team Members</span>
      </a>

      <a
        mat-list-item
        routerLink="/dashboard/comments"
        routerLinkActive="active"
      >
        <mat-icon>comment</mat-icon>
        <span>Testimonials</span>
      </a>
      <a mat-list-item routerLink="/dashboard/Video" routerLinkActive="active">
        <mat-icon>image</mat-icon>
        <span>Video</span>
      </a>

        <a mat-list-item routerLink="/dashboard/portifilio" routerLinkActive="active">
        <mat-icon>image</mat-icon>
        <span>Portifilio</span>
      </a>

        <a mat-list-item routerLink="/dashboard/our-clients" routerLinkActive="active">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Our Clients</span>
      </a>

        <a mat-list-item routerLink="/dashboard/about-us" routerLinkActive="active">
        <mat-icon>wallpaper</mat-icon>
        <span>About Us</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top-toolbar">
      <button
        mat-icon-button
        (click)="opened = !opened"
        class="menu-btn"
        aria-label="Toggle sidenav"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span class="toolbar-title">Mirror Dashboard</span>

      <span class="spacer"></span>

      <!-- User name -->
      <span class="user-name">Hi, {{ userName }}</span>

      <!-- Logout -->
      <button mat-icon-button (click)="logout()" aria-label="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
